@import url("../reset.css");

body {
  height: 200vh;
  background-color: #00110c;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 34px;
  background-color: #04120c;
}

.button-in-header {
  display: flex;
  align-items: center;
  color: #b8e1ee;
  font-weight: 700;
  height: 100%;
  padding: 0 10px;
}
.button-in-header:hover {
  background-color: #127374;
}
#right-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}
#active-menu {
  background-color: #013a3b;
}

#image-wrapper {
  min-width: 1000px;
  overflow: hidden;
}
