button {
  background-color: transparent;
  border: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 80px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;
}

#logo {
  height: 64px;
  cursor: pointer;
}
#little-search {
  display: flex;
  justify-content: center;
  padding: 0 8px;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 40px;
  min-width: 330px;
  height: 48px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0/5%);
}
.little-search_button {
  display: block;
  flex-shrink: 0;
  padding: 0 16px;
  white-space: nowrap; /*텍스트 줄바꿈 되지 않도록*/
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
  cursor: pointer;
}
.little-search_button:nth-of-type(3) {
  color: #717171;
}
.divider {
  flex-basis: 1px;
  flex-shrink: 0;
  background-color: #dddddd;
  height: 24px;
}
#magnifying-glass-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff385c;
  border-radius: 50%;
  flex-basis: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 50%;
}
#magnifying-glass-icon {
  width: 12px;
}
#do-airbnb {
  font-size: 14px;
  padding: 12px;
  color: #222222;
  font-weight: 600;
  border-radius: 22px;
  cursor: pointer;
}

#do-airbnb:hover {
  background-color: #f7f7f7;
}

#header-right-section {
  display: flex;
}

#profile-section {
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 21px;
  padding: 5px 5px 5px 12px;
  gap: 12px;
}
#category-bar {
  display: flex;
  gap: 32px;
  padding: 20px 40px;
  overflow: auto;
}
.category-button {
  color: #717171;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}
.category-button img {
  width: 24px;
}
.category-button:hover {
  color: #000000;
  border-bottom: 2px solid #dddddd;
}

.place-image-wrapper {
  position: relative;
  width: 308px;
  height: 293px;
  overflow: hidden;
  border-radius: 23px;
}
.place-image-wrapper img {
  width: 500px;
  height: 500px;
}
.place-image-wrapper .heart-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.description-section {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  gap: 3px;
  color: rgb(34, 34, 34);
  font-size: 15px;
}

.description-section_title {
  font-weight: 600;
}

main {
  display: flex;
  justify-content: center;
  padding: 24px 80px;
}

#place-items-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 308px);
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  gap: 40px 24px;
}

.heart-icon:active {
  transition: transform 0.25s ease;
  transform: scale(0.5);
}
